@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: hsl(220 20% 85%);
  }
  
  body {
    background-color: hsl(220 20% 98%);
    color: hsl(220 20% 15%);
  }
}